stepFunction/processing-step-function.json
{
    "Comment": "A description of my state machine",
    "StartAt": "processing-lambda",
    "States": {
      "processing-lambda": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
          "Payload.$": "$",
          "FunctionName": "arn:aws:lambda:us-east-2:851725361610:function:processing-lambda:$LATEST"
        },
        "Retry": [
          {
            "ErrorEquals": [
              "Lambda.ServiceException",
              "Lambda.AWSLambdaException",
              "Lambda.SdkClientException",
              "Lambda.TooManyRequestsException"
            ],
            "IntervalSeconds": 1,
            "MaxAttempts": 3,
            "BackoffRate": 2
          }
        ],
        "Next": "inner-proccesing-step-function",
        "Catch": [
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "Next": "exception-handling-step-function"
          }
        ]
      },
      "exception-handling-step-function": {
        "Type": "Task",
        "Resource": "arn:aws:states:::states:startExecution.sync:2",
        "Parameters": {
          "StateMachineArn": "arn:aws:states:us-east-2:851725361610:stateMachine:exception-handling-step-function",
          "Input.$": "$"
        },
        "End": true
      },
      "inner-proccesing-step-function": {
        "Type": "Task",
        "Resource": "arn:aws:states:::states:startExecution.sync:2",
        "Parameters": {
          "StateMachineArn": "arn:aws:states:us-east-2:851725361610:stateMachine:inner-processing-step-function",
          "Input.$": "$"
        },
        "End": true,
        "Catch": [
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "Next": "exception-handling-step-function"
          }
        ]
      }
    }
  }